*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif
}


.top{background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 4px 52px 4px 90px;}

header div.top div.ea span {margin-left: 20px;}

div.primaryContent_Header{background-color: #F0A83E;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 22px 40px 22px 58px;
    }

div.primaryContent_Header nav ul{display: flex;
    width: 400px;
    justify-content: space-evenly;
    list-style: none;}

a{text-decoration: none;color: white;}

div.txts{color: #3C2313;
    display: flex;
    flex-direction: column;
    float: right;
    padding-top: 15%;
    padding-right: 3%;
    align-items: center;
}
main section.txtbox{position: relative;
    background-image: url(imagenes/imagen\ de\ fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 480px;
    width: 100%;}



.btn-txtbox{background-color: #F0A83E;
    padding: 15px 23px;
    color: white;
    border-radius: 5px;
    border-style: none;}

h1{padding: 10px;
    background-color: white;
    border-radius: 5px;}

.img-title{margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column; }

.img-title h2{font-size: 47px;
    color:#3C2313 ;}

.shopOption{display: flex;
    justify-content: space-between;
    width: 400px;
    list-style: none;
    color: #666666;}

.product{width: 100px;}

.Catalogo{display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
    width: 100%; }
.Catalogo div{background-color: #FBFAF6;
    display: flex;
    flex-direction: column;
    align-items: center;}
.Catalogo div p{color:  #F0A83E;}
.Catalogo div h3 {color: #3C2313;}

.formularioDeContacto{display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: auto;
}
.control{padding: 15px; margin: 10px ;width: 300px;
    background-color: #3C2313;
    border-style: none;
    border-radius: 15px;
    }

.control:placeholder-shown{color: #FFFAF0;}
.control::placeholder{color: #FFFAF0;}
.control:focus{background-color:#F0A83E;outline: none;}