*{padding: 0px;
    margin: 0px;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;}

.desc{background-color: #D1891C;
    padding-left: 3%;}
.desc a{text-decoration: none;
    color: #333333;}

h1{padding-left: 3%;
    background-color: #00669F;
    padding-top: 39px;
    padding-bottom: 39px;
    color: white;}
.links{align-content: flex-end;box-shadow: 0px  6px 10px #666;}
article.cardsContainer{display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top:3%;
    padding-bottom: 10px;
    }

.card{position: relative
    ;display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: 
    #F3F3F3;
    width: 500px;
    height: 950px;
    margin: 30px;
    border-radius: 20px 20px 0px 0px;
    }

.PP{width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
img{border-radius: 50%;
    width: 40%;
    margin-top: 40%;
    box-shadow: 0px 4px 2px #C4C4C4;
    }

p.D{padding-left: 10%;
    padding-right: 10%;
    font-size: 25px;
    line-height: 30px;}

h2.name{text-align: center;
    padding: 20px;
    font-size: 270%;}

button{background-color:  #00669F;
    border-style: none;
    color: white;
    padding: 15px 35px;
    margin-bottom: 3%;
    }

.HarleyQueen .PP{background-image: url(../img/BGHarleyQueen.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    height: 40%;
    border-radius: 5%;}
.Superman .PP{background-image: url(../img/BGSuperman.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    height: 40%;
    border-radius: 5%;}
.Batman .PP{background-image: url(../img/BGBatman.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    height: 40%;
    border-radius: 5%;}
.MujerMaravilla .PP{background-image: url(../img/BGMujerMaravilla.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    height: 40%;
    border-radius: 5%;}

.vector{position: absolute;
    top: 25px;left: 25px;
    margin:0px;
    padding: 0px;
    width: 50px;
    border-radius: 0px;
    box-shadow: none;}

footer{background-color:#00669F;
    padding: 20px;
    color: white;
    text-align: center;}

.GitHubLogo{border-radius: 0px;
width: 100px;
margin: 0px;
float: right;
box-shadow: none;
margin-top: 7px;
}
.widget{position: fixed;top: 50%;left: 93%;
width: 50px;height: 50px;text-align: center;padding: 10px;border-radius: 50%;
font-size: 30px;}
main{padding-right: 7%;}