*{padding: 0px;
    margin: 0px;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;}
.desc{background-color: #1CD1B0;
    padding-left: 3%;}
.desc a{text-decoration: none;
    color: #333333;}

h1{padding-left: 1%;
    background-color: #00669F;
    padding-top: 5px;
    padding-bottom: 20px;
    box-shadow: 0px  6px 10px #666;
    color: white;
    margin: 0%;}

img{width: 80px;
    position: relative;
    top: 15px;}

h2{font-size: 50px;}

main{align-content: center;}

form{display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 15%;padding: 0%;
    }
input{margin: 2%;width: 50%;height: 50px;padding-left: 1%;padding-right: 1%;}
input::placeholder{padding-left: 1%;}
input:placeholder-shown{padding-left: 1%;}
a.entrar{margin-top: 30px;margin-bottom: 20px;
    width: 50%;
    background-color:#1CD1B0 ;
    border-style: none;padding: 1%;border-radius: 20px;
    text-decoration: none;font-weight: bold;
    text-align: center;}

footer{background-color:#00669F;
        padding: 20px;
        color: white;
        text-align: center;}
    